### 1. (2 балла)

На вход вам приходит вещественное число, обозначающее время, которое необходимо потратить на задачу (создайте для этого переменную duration). 

Выведите, сколько времени уйдет, чтобы выполнить 3 такие задачи. 

Ввод: вещественное число, которое обозначает количество часов (нецелое, например 1.5 -значит 1 час и 0.5 часа, то есть 30 минут). Число часов точно меньше 24. 

Вывод: hh:mm (часы:минуты).

In [40]:
#Длинный вариант

duration = float(input())
duration = duration*3
duration = str(duration)
duration = duration.split('.')
hours = duration[0]
hours = int(hours)
minutes = duration[1]
minutes = '0.'+minutes
minutes = float(minutes)*60
minutes = round(minutes)

result = str(hours)+':'+str(minutes)
print(result)

9.9
29:42

In [3]:
duration = 7.6  #float(input())
duration

7.6

In [5]:
duration = duration*3
duration

68.39999999999999

In [6]:
duration = str(duration)
duration

'68.39999999999999'

In [7]:
duration = duration.split('.')
duration

['68', '39999999999999']

In [8]:
hours = duration[0]
hours

'68'

In [10]:
hours = int(hours)
hours

68

In [11]:
minutes = duration[1]
minutes = '0.'+minutes
minutes

'0.39999999999999'

In [12]:
minutes = float(minutes)*60
minutes = round(minutes)
minutes

24

In [15]:
# result = str(hours)+':'+str(minutes)
result = hours, ':', minutes
print(result)

(68, ':', 24)

In [18]:
print(hours, minutes, sep=':')

68:24

In [29]:
# Короткий вариант

duration = float(input())
duration *= 3
hours = int(duration)
minutes = round(float('0.'+str(duration).split('.')[1])*60)

print('{:02d}:{:02d}'.format(hours, minutes))

1.4
04:12

In [28]:
'Our duration: {:.2f}'.format(duration)

'Our duration: 22.80'

### 2. (2 балла)
Для двух строк l1 и l2, а так же числа n вывести строчку l3, состоящую из конкатенации l1 и l2, повторенной n раз.
Например, для l1='hello', l2='world', n=2, l3 будет равно 'helloworldhelloworld'

In [34]:
l1 = 'hello' #input()
l2 = 'world' #input()
n = 2 #int(input())

l3 = (l1+l2)*n
l3

'helloworldhelloworld'

### 3. (2 балла)
Электронные часы показывают время в формате hh:mm:ss, то есть сначала записывается обязательно двузначное количество часов, потом обязательно двузначное количество минут, затем обязательно двузначное количество секунд.

С начала суток прошло N секунд. Выведите, что покажут часы. В N точно меньше 24 часов.

In [40]:
N = int(input())
hh = N//3600
mm = (N - hh*3600)//60
ss = N - hh*3600 - mm*60

N = str(hh).zfill(2) + ':' +\
    str(mm).zfill(2) + ':' +\
    str(ss).zfill(2)
N = '{:02d}:{:02d}:{:02d}'.format(hh, mm, ss)
print(N)

7364
02:02:44

### 4. (2 балла)
На вход даются числа a, b, натуральные, a < b. Задача вывести числа Фибоначчи с номерами от a до b.

In [45]:
# Найти k-ое число ряда Фибоначчи

k = 10

x, y = 1, 1
print(x)
for i in range(k-1):
    x, y = y, x+y
    print(x)
print('----------------')
print('Final result:', x)

1
1
2
3
5
8
13
21
34
55
----------------
Final result: 55

In [46]:
mylist = []
print(mylist)
mylist.append('Hello')
print(mylist)

[]
['Hello']

In [101]:
a, b = input().split()
a = int(a)
b = int(b)

fibonacci = []
for i in range(1, b+1):
    x, y = 1, 1
    for j in range(i-1):
        x, y = y, x+y
    fibonacci.append(x)
fibonacci[a-1:b]

3 7

[2, 3, 5, 8, 13]

### Округление

In [47]:
x = 1.55
y = -1.55

In [48]:
# round to the nearest integer
round(x)       #  2

2

In [49]:
round(y)       # -2

-2

In [50]:
# the second argument gives how many decimal places to round to (defaults to 0)
round(x, 1)    #  1.6

1.6

In [51]:
round(y, 1)    # -1.6

-1.6

In [52]:
# math is a module so import it first, then use it.
import math

# get the largest integer less than x
math.floor(x)  #  1

1

In [53]:
math.floor(y)  # -2

-2

In [54]:
# get the smallest integer greater than x
math.ceil(x)   #  2

2

In [55]:
math.ceil(y)   # -1

-1

In [56]:
# drop fractional part of x
math.trunc(x)  #  1, equivalent to math.floor for positive numbers

1

In [57]:
math.trunc(y)  # -1, equivalent to math.ceil for negative numbers

-1

In [58]:
'{:.2f}'.format(1.345)

'1.34'